name: Index Check

on:
  push:
  pull_request:

jobs:
  index:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Generate index
        run: node scripts/generate-indexes.js
      - name: Ensure index is up to date
        run: git diff --exit-code
